<div class="panel panel-primary">
  <div class="panel panel-heading">Add a deal</div>
  <div class="panel panel-body">
    <div>
      <label>Ticket Information</label>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Flight Number</th>
              <th>Start</th>
              <th>End</th>
              <th>Country</th>
              <th>ExpireDate</th>
              <th>Class Type</th>
              <th>Price</th>
              <th>Remain</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{targetTicket.flightNumber}}</td>
              <td>{{targetTicket.startPlace}}</td>
              <td>{{targetTicket.endPlace}}</td>
              <td>{{targetTicket.country}}</td>
              <td>{{targetTicket.expireDate | date:"dd/MM/yyyy"}}</td>
              <td>{{targetTicket.classType}}</td>
              <td>{{targetTicket.price}}</td>
              <td>{{targetTicket.remain}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <form>
      <div class="form-group">
        <label class="control-label" name="ticketAmount">Amount</label>
        <div>
          <input type="number" value="1" name="ticketAmount" [(ngModel)]="ticketAmount">
        </div>
      </div>
      <div>
        <button class="btn btn-primary" (click)="createDeal(targetTicket, ticketAmount)">Add</button>
        <button class="btn btn-danger">Cancel</button>
      </div>
    </form>
  </div>
</div>

