<div class="panel panel-primary">
  <div class="panel panel-heading">Search a ticket</div>
  <div class="panel panel-body">
    <form #form="ngForm">
      <div class="form-group col-md-6">
        <label class="control-label">Start Place</label>
        <div>
          <select class="form-control" name="startPlace" #startPlace="ngModel" [(ngModel)]="searchTerms.startPlace">
              <option [ngValue]="null" disabled>Please select</option>
              <option *ngFor="let city of cities" [value]="city.name">{{city.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-6">
          <label class="control-label">End Place</label>
          <div>
              <select class="form-control" name="endPlace" #endPlace="ngModel" [(ngModel)]="searchTerms.endPlace">
                  <option [ngValue]="null" disabled>Please select</option>
                  <option *ngFor="let city of cities" [value]="city.name">{{city.name}}</option>
              </select>
          </div>
      </div>
      <div class="form-group col-md-6">
          <label class="control-label">Date</label>
          <div>
            <input type="date" class="form-control" name="expireDate"
            #expireDate="ngModel" [(ngModel)]="searchTerms.expireDate"
            />    
          </div>
      </div>
      <div class="form-group col-md-6">
          <label class="control-label">Class</label>
          <div>
            <select class="form-control" name="classType" #classType="ngModel" [(ngModel)]="searchTerms.classType">
                <option [ngValue]="null" disabled>Please select</option>
                <option value="Economy">Economy</option>
                <option value="Business">Business</option>
            </select>
          </div>
      </div>
      <div>
        <label class="control-label"></label>
        <div class="col-lg-10">
          <button type="submit" class="btn btn-primary " [disabled]="!form.valid" 
          (click)="searchTickets()">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div *ngIf="(!targetTickets || !targetTickets.length) && isSearchFlag">No suitable ticket found!</div>
<div class="panel panel-primary" *ngIf="targetTickets && targetTickets.length">
  <div class="panel panel-heading"></div>
  <div class="panel panel-body">
    <div class="table-responsive">
      
      <table class="table" >
        <thead>
          <tr>
            <th>Flight Number</th>
            <th>Start</th>
            <th>End</th>
            <th>Country</th>
            <th>ExpireDate</th>
            <th>Class Type</th>
            <th>Price</th>
            <th>Remain</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ticket of targetTickets">
            <td>{{ticket.flightNumber}}</td>
            <td>{{ticket.startPlace}}</td>
            <td>{{ticket.endPlace}}</td>
            <td>{{ticket.country}}</td>
            <td>{{ticket.expireDate | date:"dd/MM/yyyy"}}</td>
            <td>{{ticket.classType}}</td>
            <td>{{ticket.price}}</td>
            <td>{{ticket.remain}}</td>
            <td>
              <button class="btn btn-success" (click)="addTicket(ticket)">Add</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
