<div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        {{pageTitle}}
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table" *ngIf="deals && deals.length">
            <thead>
              <tr>
                <th>Flight Number</th>
                <th>Start</th>
                <th>End</th>
                <th>Date</th>
                <th>Class Type</th>
                <th>Amount</th>
                <th>Total Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let deal of deals">
                <td>{{deal.ticket.flightNumber}}</td>
                <td>{{deal.ticket.startPlace}}</td>
                <td>{{deal.ticket.country}}, {{deal.ticket.endPlace}}</td>
                <td>{{deal.ticket.expireDate | date:"dd/MM/yyyy"}}</td>
                <td>{{deal.ticket.classType}}</td>
                <td>{{deal.ticketAmount}}</td>
                <td>{{totalPrice(deal.ticketAmount, deal.ticket.price) | currency}}</td>
                <td>
                  <button class="btn btn-danger" data-toggle="modal" data-target="#deletedModal" (click)="setDeleteDealId(deal)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<!-- Deleted Modal -->
<div class="modal fade" id="deletedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          Are you sure to remove the Deal?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="confirmCancel()">Cancel</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal"  (click)="confirmDelete()">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Deleted Modal -->