<div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      {{pageTitle}}
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table" *ngIf="tickets && tickets.length">
          <thead>
            <tr>
              <th>Flight Number</th>
              <th>Start</th>
              <th>End</th>
              <th>Country</th>
              <th>ExpireDate</th>
              <th>Class Type</th>
              <th>Price</th>
              <th>Remain</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ticket of tickets">
              <td>{{ticket.flightNumber}}</td>
              <td>{{ticket.startPlace}}</td>
              <td>{{ticket.endPlace}}</td>
              <td>{{ticket.country}}</td>
              <td>{{ticket.expireDate | date:"dd/MM/yyyy"}}</td>
              <td>{{ticket.classType}}</td>
              <td>{{ticket.price}}</td>
              <td>{{ticket.remain}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>